.cta-button{
    padding:1rem 1rem;
    font-size:1.1rem;
    border:none;
    border-radius:4px;
    cursor:pointer;
    color:#fff;
    margin-top:20px;
    box-shadow:0 4px 6px rgba(0,0,0,.15);
    transition:transform .15s ease, box-shadow .15s ease;
}

.cta-button.blue  { 
    background:#235891; 
}

.cta-button.green { 
    background:#28a745; 
}

.cta-button.blue:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 12px rgba(0,0,0,.2);
    background:#2a69ad;
}

.cta-button.green:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 12px rgba(0,0,0,.2);
    background:#2dbb4e;
}

.cta-button:active{
    transform:none;
    box-shadow:0 3px 5px rgba(0,0,0,.15);
}

.container p {
    font-size: 1.2rem;
}

.radio-buttons-div {
    font-size: 1.1rem;
}

/* Medium screens (tablets) */
@media (min-width: 480px) {

    .btn-submit, .cta-button {
        padding: 1rem;
    }
    .radio-buttons-div {
        margin: auto;
        max-width: 75%;
    }
    .container p {
        cursor: default;
    }
}

/* Small screens (phones) */
@media (max-width: 480px) {

    .container {
        padding-top: 1rem !important;
    }
    .container h1 {
        font-size: 1.75rem;
    }
    .container p {
        font-size: 1.1rem;
        cursor: default;
    }
    .btn-submit, .cta-button {
        padding: 0.75rem;
    }
    .radio-buttons-div {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }
    .form-check {
        margin: auto;
    }
    .download-buttons{
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    button {
        min-width: 250px !important;
    }
}